rules_version = '2';

// Serviço de Storage
service firebase.storage {
  // Define o bucket padrão
  match /b/{bucket}/o {
    
    // Regras para a pasta de Check-ins
    // Caminho: checkins/USER_ID/NOME_DO_ARQUIVO
    match /checkins/{userId}/{allPaths=**} {
      
      // PERMITIR LEITURA: Qualquer usuário logado pode visualizar as imagens
      allow read: if request.auth != null;
      
      // PERMITIR ESCRITA:
      // O usuário deve ser o dono da pasta
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // Regras para fotos de perfil
    // Caminho: users/USER_ID/profile.jpg
    match /users/{userId}/{allPaths=**} {

      // PERMITIR LEITURA: Qualquer usuário logado pode ver fotos de perfil
      allow read: if request.auth != null;

      // PERMITIR ESCRITA: Apenas o próprio usuário pode atualizar sua foto
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
